.form {
  margin: 0 0 1rem;
  padding: 1rem 1rem 2rem;
  border-bottom: 1px solid #ccc;

  & h2 {
    margin: 0 0 1rem;
  }
}

.formRow {
  display: grid;
  justify-items: start;
  margin: 0 0 1rem;

  input,
  textarea {
    width: 30rem;
    padding: 0.5rem;
    font-family: var(--text-font);
    font-size: var(--font-size);
  }
}

.submit {
  margin: 1rem 0 0;
}
