.item {
  margin: 0 0 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.title {
  margin: 0 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.body {
  font-weight: 300;

  &::first-letter {
    text-transform: uppercase;
  }

  &::after {
    content: '.';
  }
}
